<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="{{url_for('static', filename='css/pago_usd.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes USD</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo_rojo_rescarven.png') }}" type="image/png">
</head>
<body>
    <div class="content">
        <div class="sidebar">
            <div class="logo">
                <div class="menu-hamburguesa-container">
                    <div class="menu-hamburguesa">&#9776;</div>
                </div>
                <img src="{{ url_for('static', filename='img/logo_rescarven.png') }}" alt="Logo" style="width:210px; height: 200px">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="{{url_for('paginaprincipal')}}">Inicio</a></li>
                    <li class="active"><a href="{{url_for('info_planes') }}">Planes</a></li>
                    <li><a href="{{url_for('recibo_de_pago')}}">Consultas</a></li>
   
                </ul>
            </nav>
        </div>  
        <div class="container">

            <div class="main-content">
                <header class="top-bar">
                    <div class="cerrar-sesion-contenedor">
                        <img src="{{ url_for('static', filename='img/cerrar_sesion.png') }}" class="cerrar_sesion" alt="Cerrar sesión">
                        <a id="salir" name="salir" class="salir" href="{{ url_for('logout') }}" oncontextmenu="return false;">Cerrar sesión</a>
                    </div>
    
                <div class="user-icon">
                    <div class="dropdown">
                        <div class="menu-button" onclick="toggleDropdown()">
                            <img src="{{ url_for('static', filename='img/usuario.png') }}" alt="Usuario">
                        </div>
                        <div class="dropdown-content" id="dropdown-menu">
                            <div class="user-name">{{ nombre }} {{ apellido }}</div>
                            <a href="{{ url_for('cambiar_contraseña') }}">Cambiar Contraseña</a>
                        </div>
                    </div>
                </div>
            </header>
            <div class="contenido">
                <h2>Por favor seleccione la forma de pago de su preferencia.</h2>
                <!--
                <div class="menu2">
                    <div class="header2">PayPal <img src="{{ url_for('static', filename='img/paypal.png') }}" class="paypal" style="height: 180px;"><span class="clas3">▼</span></div>
                    <div class="content2">
                    </div>
                </div>
                <hr class="hr1">
                -->

                <div class="menu2">
                    <div class="header2">
                        BatPay
                        <img src="{{ url_for('static', filename='img/BatPay.png') }}" class="batpay" style="height: 140px; width: 180px;">
                        <span class="clas3">▼</span></div>
                    <div class="content2">
                        <form id="batpay" action="/process_payment" method="post">

                            <fieldset>
                            <label for="item">Descripción:</label><br>
                            <input type="text" id="item" name="item_batpay" value="Cuotas Rescarven" readonly required>
                            </fieldset>

                            <fieldset>
                            <label for="amount">Monto:</label><br>
                            <input type="text" id="amount" name="amount_batpay" value="{{montous}}" required readonly>
                            </fieldset>

                            <fieldset>
                            <label for="email">Correo Electrónico:</label><br>
                            <input type="email" id="email" name="email_batpay" required>
                            </fieldset>

                            <fieldset>
                            <label for="client_id">Identificacion</label><br>
                            <input type="text" id="client_id" name="client_id_batpay" required>
                            </fieldset>
                        
                            <button class="button" type="submit">Enviar</button>
                        </form>                        
                    </div>
                </div>
                <hr>
             </div>
                
                <div id="session-expired-modal">
                    <div id="session-expired-content">
                        <p id="session-expired-message">Tu tiempo de sesión ha expirado. ¿Quieres extenderla?</p>
                        <div id="session-expired-buttons">
                            <button class="session-button" onclick="extendSession()">Extender Sesión</button>
                            <button id="logout-button" class="session-button" onclick="logout()">Cerrar Sesión</button>
                        </div>
                    </div>
                </div>
                
    <script src="{{url_for('static', filename='js/menuspago.js')}}"></script>      
    <script src="{{url_for('static', filename='js/icusuario.js')}}"></script> 
</body>           
</html>